.business-card {
	display: flex;
}

.avatar {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
	overflow: hidden;

	&__img {
		width: 100%;
	}
}

.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 1rem;
	
	&__name {
		font-size: 2rem;
		font-weight: 600;
	}
	&__info {
		font-size: 1.2rem;
		font-weight: 400;
		color: #666666
	}
}