.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include respond(tab-port){
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 1rem;
    }
}

.filling-empty-space-child {
    width: 35rem;
    height: 0;
}