.works-card {
	width: 35rem;
	background: #fff;
	margin: 1rem 0;
	text-align: center;
	position: relative;

	@include respond(tab-port){
		width: 50rem;
		height: 35rem;
	}
	
	@include respond(phone){
		width: 100%;
		height: auto;
		padding: 1rem;
	}
}

.works-img {
	width: 35rem;
	height: 25rem;
	box-shadow: .2rem .2rem .5rem rgba(0,0,0,.2);
	padding: 2rem;

	@include respond(tab-port){
		width: 50rem;
		height: 35rem;
	}

	@include respond(phone){
		width: 100%;
		height: auto;
		padding: 1rem;
	}
}

.works-content-block {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	opacity: 0;
	transition: all .2s linear;
}

.works-content-block:hover {
	opacity: 1;
}

.works-title {
	width: 100%;
	text-align: left;
	font-size: 2rem;
	font-weight: 600;
	position: absolute;
	top: 0;
	padding: 2rem;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}

.works-content {
	width: 100%;
	text-align: left;
	position: absolute;
	bottom: 0;
	padding: 2rem;
	line-height: 1.5rem;
	background-color: rgba(0,0,0,.5);
	color: #fff;
}
